@page "/login"

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<h3>Login</h3>

<AuthorizeView>
	<Authorized>
		<p>You are already logged in.</p>

		<a href="/">@SharedLocalizer["GoHome"]</a>
	</Authorized>

	<NotAuthorized>
		<EditForm Model="@loginInputModel" OnValidSubmit="LoginAsync" Context="formContext">
			<FluentValidationValidator />

			<div>
				<label for="email">Email:</label>
				<InputText id="email" @bind-Value="@loginInputModel.Email" />
				<ValidationMessage For="@(() => loginInputModel.Email)" />
			</div>

			<div>
				<label for="password">Password:</label>
				<InputText id="password" @bind-Value="@loginInputModel.Password" />
				<ValidationMessage For="@(() => loginInputModel.Password)" />
			</div>

			<div>
				<label for="rememberMe">Remember me:</label>
				<input type="checkbox" id="rememberMe" @bind="@loginInputModel.IsRememberMeChecked" />
			</div>

			<button type="submit">Login</button>
		</EditForm>
	</NotAuthorized>
</AuthorizeView>

@if (errorMessage is not null)
{
	<p>
		<span>@errorMessage</span>
	</p>
}

<p>
	ReturnUrl:
	@if (ReturnUrl is not null)
	{
		<a href="@ReturnUrl">@ReturnUrl</a>
	}
	else
	{
		<span>None</span>
	}
</p>

@code {
	[Parameter, SupplyParameterFromQuery]
	public string? ReturnUrl { get; set; }

	private LoginInputModel loginInputModel = new() { Email = "dmm@l-mediehus.dk", Password = "Dug91066", ClientType = ClientType.Blazor };
	private string? errorMessage;

	private async Task LoginAsync()
	{
		Result<TokenDTO> loginResult = await AuthService.LoginAsync(loginInputModel);

		if (!loginResult.IsSuccess)
		{
			errorMessage = loginResult.ErrorMessage + " " + loginResult.ExceptionMessage + " " + loginResult.InnerExceptionMessage + " " + loginResult.StackTrace;

			return;
		}

		NavigationManager.NavigateTo("/", true);
	}
}