@page "/login"

@inject IAuthService AuthService

<h3>Login</h3>

<AuthorizeView>
	<Authorized>
		<p>You are already logged in.</p>

		<a href="/">@SharedLocalizer["GoHome"]</a>
	</Authorized>

	<NotAuthorized>
		<EditForm Model="@loginInputModel" OnValidSubmit="LoginAsync" Context="formContext">
			<FluentValidationValidator />

			<div>
				<label for="email">Email:</label>
				<InputText id="email" @bind-Value="@loginInputModel.Email" />
				<ValidationMessage For="@(() => loginInputModel.Email)" />
			</div>

			<div>
				<label for="password">Password:</label>
				<InputText id="password" @bind-Value="@loginInputModel.Password" />
				<ValidationMessage For="@(() => loginInputModel.Password)" />
			</div>

			<button type="submit">Login</button>
		</EditForm>
	</NotAuthorized>
</AuthorizeView>

@if (tokenDTO is not null)
{
	<p>ErrorMessage: @tokenDTO.ErrorMessage</p>
	<p>ExceptionMessage: @tokenDTO.ExceptionMessage</p>
	<p>InnerExceptionMessage: @tokenDTO.InnerExceptionMessage</p>
	<p>StackTrace: @tokenDTO.StackTrace</p>
	<p>HttpCode: @tokenDTO.StatusCode.ToString()</p>

	@if (tokenDTO.IsSuccess)
	{
		<p>AccessToken: @tokenDTO.Content.AccessToken</p>
		<p>RefreshToken: @tokenDTO.Content.RefreshToken</p>
	}
}

<p>
	ReturnUrl:
	@if (ReturnUrl is not null)
	{
		<a href="@ReturnUrl">@ReturnUrl</a>
	}
	else
	{
		<span>None</span>
	}
</p>

@code {
	[Parameter, SupplyParameterFromQuery]
	public string? ReturnUrl { get; set; }

	private LoginInputModel loginInputModel = new() { ClientType = ClientType.Blazor };
	private Result<TokenDTO>? tokenDTO;

	private async Task LoginAsync()
	{
		Result<TokenDTO> result = await AuthService.LoginAsync(loginInputModel);
	}
}